:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  opacity: 0.4;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.w-header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
}
.result {
  background-color: aliceblue;
  margin-top: 20px;
  display: flex;
  height: 800px;
  border-radius: 10px;
}
.inner-box {
  width: 33.333%;
  overflow-y: scroll;
}
.title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.date-box {
  margin:10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 0, 0.437);
}
.month-title, .day-title {
  font-size: 30px;
  font-weight: 700;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.button-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.button-day {
  font-weight: 600;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}
.button-day:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.571);
}

.pending-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 10px;
}